/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*COLORS:

#fb9bab
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p{
  font-family: "Nunito", sans-serif;
  font-size: 2em;
}

h2{
  font-size: 3em;
  color: white;
}

.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html { 
  line-height: 1.5; 
  font-family: "Spicy Rice", sans-serif; 
  font-weight: normal; 
  color: white; 
}

body { 
  margin:0;
  background-color: #ffc0cb; 
}

nav { 
  height:3.5em; 
  line-height:3.5em; 
  background:transparent; 
  position:fixed; top:0; left:0; 
  width:100%; 
  
  
}
nav:hover{
  background-color: pink;
}




nav ul li { display:block; float:left; width:33.33%; text-align:center; }
nav ul li a { color:white; text-decoration:none; }

main#spapp > section { 
  height: 50em;
  padding: 0 0 3% 0; 
}  
main#spapp > section#error_404 { background:#b71c1c; color:#fff; }

main#spapp h1 { 
  font-size: 8rem; 
  line-height: 110%; 
 
  text-align:center; 
}

#home_welcome_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50em;
  background-color: pink;

}

#welcome{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 6%;
}
#home_img{
  height: 50em;
  width: 50em;
  background: 
    linear-gradient(to left, transparent, pink),
    url('https://i.pinimg.com/736x/73/65/7e/73657e2e474cf82c36f2d453800f7336.jpg') center/cover no-repeat;
}

#home_aboutus{
  height: 25em;
  display: flex;
  background-color: white;
  color: pink !important;
  padding: 2%;
  align-items: center;
  flex-direction: column;
}

#home_aboutus p{
  padding: 2% 20%;
  font-size: 1.5em;
  text-align: center;
}
#product_categories{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
}

#product_categories img{
  width: 50%;
}

.home_categories{
  width: 30%;
  height: 25em;
  background: url('https://i.pinimg.com/736x/95/53/ee/9553ee1d9bb32797de8bd0d9347da22b.jpg') center/cover no-repeat;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  border-radius: 2%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.home_categories:hover{
  filter: brightness(0.7);
}
